@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --primary-color: #bc0b1a;
  --secondary-color: #74b513;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html.menu-open,
body.menu-open {
  overflow: hidden;
}

.primary-color {
  color: var(--primary-color) !important;
}

.secondary-color {
  color: var(--secondary-color) !important;
}

